@import url(https://fonts.googleapis.com/css?family=Great+Vibes&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext);

body {
background: url("images/alfa.jpg");
background-size: cover; background-repeat: no-repeat;
font-family: forte;
}

#line {
	/*width:1920px;
	height:71px;*/
	background-size: cover;
	background-color: rgba(0,204,204, .5);
	position:absolute; top:0; left:0;
	z-index: -1;
}

/* HOW CAN I BRING THE TEXT IN FRONT OF THE BOX?*/

article {
	font-family: 'great vibes',cursive, ;
	background: rgba(255,255,255, .2);
	display: inline-block;
	margin: 0;
	position: absolute; top: 400px;
}
h1 {
	text-align: center;
	color: #00cccc;
	font-style: italic;
	font-family: forte;
	letter-spacing: 5px;
	font-size: 3.5EM;
	padding: 300px 10px 10px 10px;

}

h2 {
	font-family: forte; font-style: italic;
	margin: 1em; 
}
img {position: absolute;
	width: 50px;
	padding: 10px;

}

a {
	color: #000;
	font-family: forte;
	font-size: 30px;
	font-style: italic;
	text-decoration: none;
}

p {
	text-align: left;
	font-family: 'great vibes',cursive;
	font-size: 2em;
	/*background-color: rgba(255,255,255, .4);*/
	/*display: inline-block;*/
	color: black;
	/*position: absolute; top: 272px;*/
    margin: 20px 30px 0px 30px;
    font-weight: 900;
    /*15px 16px 10px 10px;*/
}
ul {
	list-style: disc;
	text-align: left;
	/*background-color: rgba(255,255,255, .4);*/
	/*display: inline-block;*/
	font-family: 'great vibes', cursive;
	font-size: 2em; color: black;
	/*position: absolute; top: 350px;*/
	margin: 25px 30px 20px 0px;
	font-weight: 900;
	/*padding: 10px 10px 10px 30px;*/
     }

#contact {
	color: #000000;
	/*background-color: rgba(255,255,255, .6);
	/*opacity: 0.1;*/
	font-family: forte;
	font-size: 30px;
	font-style: italic;
	/*position: absolute; Top:15px; right: 50px;*/
	padding: 0px 5px 0px 5px;
}
#reviews {
	color: #000;
	/*background-color: #fff;
	*opacity: 0.4;*/
	font-family: forte;
	font-size: 30px;
	font-style: italic;
	/*position: absolute; Top:15px; right: 220px;*/
	padding: 0px 7px 0px 5px;
	}
#about {
	color: #000;
	/*background-color: #fff;*/
	/*opacity: 0.4;*/
	font-family: forte;
	font-size: 30px;
	font-style: italic;
	/*position: absolute; Top:15px; right: 350px;*/
	padding: 0px 7px 0px 5px;
}
hr {color: #00cccc;
	background-color: #00cccc;
height: 3px;
width: 1900px;
}

#contact:hover {
	background-color: rgba(255,255,255, .2);
}

#about:hover {
	background-color: rgba(255,255,255, .2);
}
#reviews:hover {
	background-color: rgba(255,255,255, .2);
}

#navigation {float: right;
display: inline-block;
/*background: rgba(0,204,204, .7);
padding: 27px 27px 27px 27px;*/ }

#navigation a {float: right;
display: inline-block;
clear: right;
background: rgba(0,204,204, .5);
padding: 27px 27px 27px 27px;
margin: 20px 10px 20px 10px}

/*#two_column {
	background-color: #ffb7cf;
	border: 1px black solid;
	padding: 20px;
}
#left {
	background-color: violet;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 30%;
}
#right {
	background-color: pink;
	border: 1px black solid;
	padding: 20px;
	float: right;
	width: 62%;
}
.clearfix:after {
	visibility: hidden;
	display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 4;
}*/

